#message {
  color: #DDD;
  font-size: 50px;
  margin-bottom: 20px;
}

#timer {
  font-size: 200px;
  line-height: 1;
  margin-bottom: 40px;
}

#stop, #reset {
  display: none;
}

body {
  background-color: #03DAC6;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
}
